<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a2105projectgroup13">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CustomerViewStatusServiceRequests"></activity>
        <activity android:name=".CustomerReviewBranch" />
        <activity android:name=".CustomerApplyServiceRequests" />
        <activity android:name=".CustomerBranchProfile" />
        <activity android:name=".CustomerViewBranchList" />
        <activity android:name=".CustomerBranchSearch" />
        <activity android:name=".BranchOpenDocument" />
        <activity android:name=".BranchViewServiceRequests" />
        <activity android:name=".BranchAddWorkingHours" />
        <activity android:name=".BranchSetProfile" />
        <activity android:name=".BranchViewFields" />
        <activity android:name=".BranchViewServiceRequirements" />
        <activity android:name=".BranchViewOfferedServiceList" />
        <activity android:name=".BranchViewAdminServiceList" />
        <activity android:name=".BranchWelcomeActivity" />
        <activity android:name=".BranchApproveDenyServiceRequests" />
        <activity android:name=".AdminEditDocument" />
        <activity android:name=".AdminAddField" />
        <activity android:name=".AdminViewFields" />
        <activity android:name=".AdminViewServiceRequirements" />
        <activity android:name=".AdminViewServiceList" />
        <activity android:name=".AdminAddFormsAndDocuments" />
        <activity android:name=".AdminNewService" />
        <activity android:name=".AdminManageServices" />
        <activity android:name=".AdminNewDocument" />
        <activity android:name=".AdminNewForm" />
        <activity android:name=".AdminViewUserList" />
        <activity android:name=".AdminWelcomeActivity" />
        <activity android:name=".UserLogin" />
        <activity android:name=".UserRegister">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomerWelcomeActivity" />
    </application>

</manifest>