<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a2105projectgroup13">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddField"></activity>
        <activity android:name=".ViewFields" />
        <activity android:name=".ViewRequirementDetails" />
        <activity android:name=".ViewServiceRequirementDetails" />
        <activity android:name=".ViewServiceRequirements" />
        <activity android:name=".ServiceList" />
        <activity android:name=".AddFormsAndDocuments" />
        <activity android:name=".NewService" />
        <activity android:name=".ManageServices" />
        <activity android:name=".NewDocument" />
        <activity android:name=".NewForm" />
        <activity android:name=".UserList" />
        <activity android:name=".AdminWelcomeActivity" />
        <activity android:name=".Login" />
        <activity android:name=".Register">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>